.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: white;
    position: fixed;
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-left: 15px;
    margin-top: 10px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 200px;
  }
  
  .sidebar li {
    margin: 45px 50px;
  }
  