.rightbar{
  height: 100vh;
  background-color: rgb(31, 44, 188);
  
} 
.rightbar h2{
  padding: 50px 30px;
}
.rightbar ul {
  padding:200px 50px;
}
.rightbar ul li{
  margin-top:5px;
}
.leftbar{
   padding: 10px;
}